body {
    margin: 0;
    font-family: Arial;
    background-color: #bfe7f7;
}

header {
    background-image: url("../imatges/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #15608d;
}

nav li {
    float: left;
    width: 16.66%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

}